{# templates/layouts/app.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>